# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        stages: [commit]
        entry: check-added-large-files
        language: system

      - id: ruff_format
        name: ruff_format
        stages: [commit]
        language: system
        entry: rye fmt
        types: [python]

      - id: ruff_check
        name: ruff_check
        stages: [commit]
        language: system
        entry: rye lint
        types: [python]

      - id: xdoctest
        name: xdoctest
        stages: [commit]
        language: system
        entry: rye run xdoctest
        types: [python]

      - id: pydocstringformatter
        name: pydocstringformatter
        stages: [commit]
        language: system
        entry: rye run pydocstringformatter src tests
        types: [python]

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: rye run mypy
        types: [python]
        require_serial: true

      - id: pydoclint
        name: pydoclint
        stages: [commit]
        language: system
        entry: rye run pydoclint # src tests
        types: [python]
        require_serial: true

      # - id: pytest
      #   name: pytest
      #   stages: [commit]
      #   language: system
      #   entry: rye run pytest tests
      #   types: [python]
      #   pass_filenames: false
