on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          config-file: .github/release-please/release-please-config.json
          manifest-file: .github/release-please/release-please-manifest.json
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - name: Install and build
        if: ${{ steps.release.outputs.release_created }}
        run: |
          curl https://mise.jdx.dev/install.sh | sh
          echo "$HOME/.local/share/mise/bin" >>"$GITHUB_PATH"
          echo "$HOME/.local/share/mise/shims" >>"$GITHUB_PATH"
          eval "$(mise activate bash)"
          mise settings set experimental true
          mise run install
          mise run build
      - name: Publish package on TestPyPI
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@v1.12.3
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
      - name: Publish package on PyPI
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@v1.12.3
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
